.app{
    /* color: #F1F1EF; */
    position: fixed;
    color: #34421E;
    width: 100%;
    height: 100vh;
    font-family: 'Titillium Web';
    background: linear-gradient(to top,
    #F1F1EF 0%,
    #F1F1EF 35%,
    #F1F1EF 20%,
    #F1F1EF 100%);
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

h2{
    text-decoration: underline;
}
