.DebatePage{
    background-color: blueviolet;
    min-height: 100vh;
    text-align: center;
    border: 15px double gold;
    font-family: monospace;
}

.Header{
    color: aliceblue;
    
}

.Topic{
    color: rgb(102, 222, 238);
    font-weight: bolder;
   
}

.DebateBody{
    color: aliceblue;
    text-align: left;
    margin-left: 10px;
}
