
.App {
  text-align: center; background-color: hsl(271, 76%, 53%);
  min-height: 100vh;
  text-align: center;
  border: 15px double gold;
  background-color: hsl(271, 76%, 53%);
  font-family:  "Caveat", cursive;
}


/* .MainPage{
  background-color: blueviolet;
  min-height: 100vh;
  text-align: center;
  border: 15px double gold;
  color: aliceblue;
  font-family: monospace;
} */