.InfoPage{
  background-color: blueviolet;
  min-height: 100vh;
  text-align: center;
  border: 15px double gold;
  font-family: monospace;
  color:aliceblue
}


[name=piviot]{
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}

.Role{
    color: rgb(255, 255, 255);
}
